* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin !important;
}

:root {
  --main-color: #b6121b;
  --main-alt-color: #e4dbdb;
  --main-alt-color-2: #75717f;
  --main-transition: 0.4s;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #e3030f var(--main-alt-color);
}

body {
  font-family: 'Cairo', sans-serif;
  background-image: linear-gradient(
    145deg,
    var(--main-alt-color-2),
    var(--main-color)
  );
  background-repeat: no-repeat;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 84, 84, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1150;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}

.overlay-hidden {
  visibility: hidden;
  opacity: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  header {
    height: 120px;
  }
}

header .account-lang {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav {
  height: 72px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--main-alt-color);
  box-shadow: 1px 2px 15px #be09099e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav .logo img {
  width: 230px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  animation: link-load 0.5s ease-in forwards;
  -webkit-animation: link-load 0.5s ease-in forwards;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
@media (max-width: 768px) {
  header .nav .logo img {
    width: 150px;
  }
}

header .nav .main-nav {
  display: flex;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

@media (max-width: 1090px) {
  header .nav .hide-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  header .nav .main-nav {
    width: 220px;
  }
}

header .nav .main-nav > li {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  animation: link-load 0.5s linear forwards;
  -webkit-animation: link-load 0.5s linear forwards;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

@keyframes link-load {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

header .nav .main-nav > li:first-child {
  animation: move-load 0.7s linear 0.5s forwards;
  -webkit-animation: move-load 0.7s linear 0.5s forwards;
  transform: translateX(-10000%);
  -webkit-transform: translateX(-10000%);
  -moz-transform: translateX(-10000%);
  -ms-transform: translateX(-10000%);
  -o-transform: translateX(-10000%);
}

header .nav .main-nav > li:nth-last-child(1) {
  animation: move-load-last 0.7s ease-in 0.5s forwards;
  -webkit-animation: move-load-last 0.7s ease-in 0.5s forwards;
  transform: translateX(10000%);
  -webkit-transform: translateX(10000%);
  -moz-transform: translateX(10000%);
  -ms-transform: translateX(10000%);
  -o-transform: translateX(10000%);
}

@keyframes move-load {
  0% {
    transform: translateX(-1000%);
    -webkit-transform: translateX(-1000%);
    -moz-transform: translateX(-1000%);
    -ms-transform: translateX(-1000%);
    -o-transform: translateX(-1000%);
  }
  90% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes move-load-last {
  0% {
    transform: translateX(1000%);
    -webkit-transform: translateX(1000%);
    -moz-transform: translateX(1000%);
    -ms-transform: translateX(1000%);
    -o-transform: translateX(1000%);
  }
  90% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

header .nav .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 72px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  font-style: oblique;
  color: var(--main-color);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .main-nav > li > a::before,
header .main-nav > li > a::after {
  content: '';
  position: absolute;
  background-color: rgb(32, 1, 1);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .main-nav > li > a::before {
  width: 7px;
  height: 100%;
  top: -100%;
  left: 0;
}

header .main-nav > li > a::after {
  width: 100%;
  height: 7px;
  bottom: 0;
  right: -100%;
}

header .main-nav > li:hover > a {
  background-color: var(--main-color);
  color: var(--main-alt-color);
}

.active-nav-link {
  background-color: var(--main-color);
  color: var(--main-alt-color) !important;
}

header .nav .sidebar li.active-nav-link-side {
  background-color: var(--main-color);
}
header .nav .sidebar li.active-nav-link-side > a {
  color: #fff;
}

header .main-nav > li:hover > a::before {
  top: 0;
}
header .main-nav > li:hover > a::after {
  right: 0;
}

header .mega-menu {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  position: absolute;
  left: 0;
  top: calc(-700% + 200px);
  opacity: 0;
  background: var(--main-alt-color);
  transition: opacity var(--main-transition), top var(--main-transition);
  -webkit-transition: opacity var(--main-transition), top var(--main-transition);
  -moz-transition: opacity var(--main-transition), top var(--main-transition);
  -ms-transition: opacity var(--main-transition), top var(--main-transition);
  -o-transition: opacity var(--main-transition), top var(--main-transition);
  z-index: 1210;
}

header .nav .main-nav > li:hover .mega-menu {
  z-index: 1300;
  opacity: 1;
  top: 100%;
}
header .appear-menu {
  z-index: 1250;
  opacity: 1;
  top: calc(100% + 9px);
}

header .mega-menu .links {
  flex: 1;
  min-width: 150px;
}

header .mega-menu .links > li {
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  background-color: var(--main-alt-color);
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

header .mega-menu > .links li:hover {
  padding-left: 20px;
}

header .mega-menu .links li a {
  color: var(--main-color);
  background-color: var(--main-alt-color);
  padding: 10px 5px 10px 0;
  display: block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
header .nav .open-bar {
  display: none;
  cursor: pointer;
}

@media (max-width: 1090px) {
  header .nav .open-bar {
    display: block;
    right: 10px;
  }
}

header .nav .open-bar i {
  font-size: 25px;
  cursor: pointer;
}

header .nav .sidebar {
  position: fixed;
  top: 0;
  right: -300%;
  height: fit-content;
  width: 450px;
  border-bottom-left-radius: 15px;
  padding: 20px 15px 0 10px;
  background-color: #c3bcbc;
  box-shadow: -10px 5px 10px rgba(194, 4, 4, 0.1);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  z-index: 1300;
  opacity: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

@media (max-width: 768px) {
  header .nav .sidebar {
    width: 300px;
  }
}

.active-sidebar {
  opacity: 1 !important;
  right: 0 !important;
}

header .nav .sidebar .close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  background-color: #f5e2e2;
  cursor: pointer;
}

header .nav .sidebar .close i {
  font-size: 30px;
  color: var(--main-color);
}
header .nav .sidebar .close:hover i {
  font-size: 30px;
  color: #ff000e;
}

header .nav .sidebar > li {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

header .nav .sidebar li:hover:not(:first-child) {
  padding-left: 15px;
  background-color: var(--main-color);
}

header .nav .sidebar a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 5px 10px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: black;
}

header .nav .sidebar li a:hover {
  color: var(--main-alt-color);
}

header .nav .sidebar li a i {
  margin-left: 15px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .nav .sidebar li:hover a i {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
header .nav .sidebar li .mega-menu2 {
  width: 200px;
  background-color: #a98c8c;
  display: flex;
  position: absolute;
  left: -200%;
  top: 100%;
  z-index: 1310;
  opacity: 0;
  transition: opacity var(--main-transition), top var(--main-transition);
  -webkit-transition: opacity var(--main-transition), top var(--main-transition);
  -moz-transition: opacity var(--main-transition), top var(--main-transition);
  -ms-transition: opacity var(--main-transition), top var(--main-transition);
  -o-transition: opacity var(--main-transition), top var(--main-transition);
}

@media (max-width: 767px) {
  header .nav .sidebar li .mega-menu2 {
    width: 180px;
  }
}

header .nav .sidebar li .mega-menu2::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 5px;
  border: 10px solid transparent;
  border-bottom-color: #a98c8c;
}

header .nav .sidebar li:hover .mega-menu2 {
  z-index: 1320;
  opacity: 1;
  left: 25%;
}

@media (max-width: 768px) {
  header .nav .sidebar > li:hover .mega-menu2 {
    left: 35%;
  }
}

header .nav .sidebar .mega-menu2 .links {
  flex: 1;
  min-width: 150px;
  background-color: #96999b;
}

header .nav .sidebar .mega-menu2 .links li {
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  background-color: #c3bcbc;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .nav .sidebar .mega-menu2 .links li:hover {
  padding-left: 20px;
  background-color: #c3bcbc;
}

header .nav .sidebar .mega-menu2 .links li a {
  color: black;
  background-color: #c3bcbc;
  font-size: 14px;
  font-weight: bold;
}

header .account-lang .btn-link {
  width: 80px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  height: 54px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(135deg, #817273, #ca0a14, #644040, #f24645);
  box-shadow: 0 4px 10px 0 #665556;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 10px;
}
.account-lang .btn-link a {
  color: #fff;
  font-weight: bold;
}
.account-lang .btn-link:hover {
  background-position: 70% 0;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

header .account-lang .btn-link:focus {
  outline: none;
}

@media (max-width: 767px) {
  header .account-lang .btn-link {
    width: 70px;
    font-size: 14px;
    height: 35px;
  }
}

header .s-welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

header .s-welcome .text {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
}

section.pages {
  height: 80vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 15px;
  color: #fad8d8;
  font-weight: bold;
  transition: transform 0.7s;
  -webkit-transition: transform 0.7s;
  -moz-transition: transform 0.7s;
  -ms-transition: transform 0.7s;
  -o-transition: transform 0.7s;
}

@media (max-width: 767px) {
  section.pages {
    height: 50vh;
  }
}

.pages h1 {
  font-size: 40px;
  letter-spacing: 1px;
  border-bottom: 1px solid black;
  background-image: linear-gradient(90deg, #d60303, #690101, #d60303, #5e0000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .pages h1 {
    font-size: 35px;
  }
}
.pages > p {
  width: 100%;
  line-height: 1.6;
  text-align: justify;
  font-size: 16px;
}

.pages > p i {
  margin-right: 10px;
  color: #fd9d9d;
  font-size: 16px;
}

@media (max-width: 767px) {
  .pages > p {
    font-size: 14px;
  }

  .pages > p i {
    font-size: 14px;
  }
}

.pages .pages-content {
  width: 100%;
  display: flex;
  gap: 15px;
}

.gallery-box {
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: var(--main-alt-color);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

@media (max-width: 767px) {
  .gallery-box {
    width: 95%;
    height: 200px;
  }
}

.gallery-box .icon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 4px 10px 0 #665556;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

@media (max-width: 767px) {
  .gallery-box .icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.gallery-box .icon.left:hover {
  transform: translateX(-5px);
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}

.gallery-box .icon.right:hover {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}
.gallery-box .icon i {
  font-size: 40px;
  background-image: linear-gradient(135deg, #817273, #ca0a14, #644040, #f24645);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.gallery-box .icon:hover i {
  background-image: linear-gradient(135deg, #ee8188, #68060b, #d60707, #f08181);
}

.gallery {
  width: 90%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 767px) {
  .gallery {
    width: 100%;
    height: 100%;
  }
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0 10px;
  padding: 10px;
  flex: none;
  align-items: center;
}

.gallery img {
  width: 80%;
  height: 70%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  cursor: pointer;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.gallery img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}

footer {
  width: 100%;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  padding: 30px 30px 0;
  border-top-left-radius: 150px;
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
}

.row {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.row .col {
  flex-basis: 20%;
  padding: 10px;
}

.row .col:first-child {
  text-align: center;
  line-height: 20%;
}

.foot-logo {
  width: 100px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  animation: foot-logo-move 1.3s linear infinite alternate;
  -webkit-animation: foot-logo-move 1.3s linear infinite alternate;
}

@keyframes foot-logo-move {
  0% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  100% {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
  }
}

.row .col:last-child {
  flex-basis: 40%;
}

@media (max-width: 767px) {
  footer {
    padding-bottom: 10px;
  }
  footer .row .col {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 955px) {
  footer .row .foot-logo {
    width: 80px;
  }
  footer {
    padding: 30px 15px 0 20px;
  }
  footer .row {
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  .row .col:first-child {
    flex-basis: 10%;
  }
  .row .col:nth-child(2) {
    flex-basis: 48%;
  }
  .row .col:nth-child(3) {
    flex-basis: 25%;
  }
  .row .col:last-child {
    flex-basis: 25%;
  }
}

.col address p {
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 15px;
  & a {
    color: #fff;
    text-decoration: none;
  }
}

.col address p:hover a {
  color: var(--main-color);
}

.col address p:nth-child(2) i {
  color: red;
  margin-right: 5px;
}

.col address p:nth-child(3) i {
  color: green;
  margin-right: 5px;
}

.col li {
  margin-bottom: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  & a {
    color: #fff;
  }
}

.col.others li:hover a {
  color: var(--main-color);
}

.col .foot-msg-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .col h2 {
  font-size: 16px;
  color: #fff;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.foot-msg-btns h2 {
  font-size: 16px;
  color: #fff;
  padding: 4px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.msg-btn-active {
  background-size: 300% 100%;
  background-image: linear-gradient(135deg, #4a4243, #ed0d18, #8f2323, #f66362);
  box-shadow: 3px 4px 10px 0 #7e5355;
}

footer form {
  width: 310px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer form .form-mail-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer form .form-mail-info input,
footer form .form-msg-tex textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  width: 95%;
  padding: 10px 5px;
  background: transparent;
  color: #ccc;
  font-weight: bold;
}

footer form .form-mail-info i {
  font-size: 18px;
}

footer form .form-msg-tex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer form .form-msg-tex textarea {
  width: 90%;
  height: 100px;
  margin-left: 30px;
  resize: none;
}

footer form .form-msg-tex button {
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  align-self: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-size: 300% 100%;
  background-image: linear-gradient(135deg, #4a4243, #ed0d18, #8f2323, #f66362);
  box-shadow: 0 4px 5px 0 #7e5355;
}

footer form .form-msg-tex button i {
  font-size: 18px;
  color: #ccc;
}

.social-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  position: relative;
  z-index: 50;
}

.social-icon a {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  transition: 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.social-icon a i {
  font-size: 25px;
  line-height: 40px;
  color: #fff;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}

.social-icon a::before {
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.social-icon a:nth-child(1):hover::before {
  top: 0;
  background-color: #1877f2;
}

.social-icon a:nth-child(2):hover::before {
  top: 0;
  background-color: #0a66c2;
}

.social-icon a:nth-child(3):hover::before {
  top: 0;
  background-color: #1da1f2;
}

.social-icon a:nth-child(4):hover::before {
  top: 0;
  background: #f09433;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.social-icon a:nth-child(5):hover::before {
  top: 0;
  background-color: #ff0000;
}

.social-icon a:hover i {
  color: #fff;
}

.social-icon a:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.copy-right {
  height: 40px;
  text-align: center;
  line-height: 30px;
  color: black;
  background: var(--main-alt-color);
}
.copy-right span:first-child {
  color: var(--main-color);
}

.underline {
  width: 100%;
  height: 5px;
  background-color: #767676;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  position: absolute;
  left: 0;
  top: 25px;
  overflow: hidden;
}

.underline span {
  width: 10px;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: move-under 2s linear infinite;
  -webkit-animation: move-under 2s linear infinite;
}

@keyframes move-under {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
.msg-btn .underline {
  top: 35px;
}

.log-form.container {
  position: fixed;
  width: 100%;
  background-color: var(--main-alt-color);
  min-height: 100vh;
  overflow: hidden;
  z-index: 1700;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.log-form .forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.log-form .signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 8;
}

.log-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.log-form form.sign-up-form {
  opacity: 0;
  z-index: 2;
}

.log-form form .close-text {
  margin-top: 15px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.log-form form .close-text i {
  margin-left: 15px;
  font-size: 30px;
  color: red;
  border-radius: 50%;
  box-shadow: 4px 6px 10px 0 #665556;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.log-form form.sign-in-form {
  z-index: 3;
}

.log-form .title {
  font-size: 2.5rem;
  color: var(--main-color);
  margin-bottom: 10px;
  background-image: linear-gradient(135deg, #817273, #ca0a14, #644040, #f24645);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.log-form .input-field {
  max-width: 380px;
  width: 100%;
  background-color: #d1c4c4;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.log-form .input-field i {
  text-align: center;
  line-height: 55px;
  color: #a75959;
  transition: 0.5s;
  font-size: 1.1rem;
}

.log-form .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #9e4545;
}

.log-form .input-field input::placeholder {
  color: #a05d5d;
  font-weight: 500;
}

.log-form .social-text {
  padding: 0.7rem 0;
  font-size: 1.1rem;
  background-image: linear-gradient(135deg, #6d0209, #c51a22, #347f0d, #6d036a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.log-form .social-media {
  display: flex;
  justify-content: center;
}

.log-form .social-icon {
  height: 40px;
  width: 40px;
  border: 1px solid #333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1.1rem;
  text-decoration: none;
  position: relative;
  z-index: 10;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.log-form .social-icon::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  top: -100px;
  left: 0;
  z-index: -1;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.log-form .social-icon:nth-child(3) {
  background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0
      25%/48% 40%,
    linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,
    linear-gradient(-40deg, transparent 53%, #ea4335 48%),
    linear-gradient(45deg, transparent 46%, #4285f4 20%), #34a853;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 20;
}

.log-form .social-icon:nth-child(1):hover::before {
  top: 0;
  background-color: #1877f2;
}

.log-form .social-icon:nth-child(2):hover::before {
  top: 0;
  background-color: #1da1f2;
}

.log-form .social-icon:nth-child(3):hover {
  border: 1px solid #0a66c2;
}

.log-form .social-icon:nth-child(4):hover::before {
  top: 0;
  background-color: #0a66c2;
}

.log-form .social-icon:hover {
  color: #fff;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.log-form .btn {
  width: 150px;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  background-size: 300% 100%;
  background-image: linear-gradient(135deg, #817273, #ca0a14, #644040, #f24645);
  box-shadow: 0 4px 10px 0 #665556;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.log-form .btn:hover {
  background-position: 70% 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.log-form .panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.log-form.container:before {
  content: '';
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(280deg, #870000, #968b8b);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 6;
}

.log-form .panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 10;
}

.log-form .left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.log-form .right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.log-form .panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.log-form .panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.log-form .panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.log-form .btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.log-form .btn.transparent:hover {
  background-image: linear-gradient(135deg, #910b13, #ca0a14, #644040, #da2121);
}

.log-form .right-panel .content {
  transform: translateX(800px);
  -webkit-transform: translateX(800px);
  -moz-transform: translateX(800px);
  -ms-transform: translateX(800px);
  -o-transform: translateX(800px);
}

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
  background-image: linear-gradient(280deg, #774040, #870000);
}

.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
  -webkit-transform: translateX(-800px);
  -moz-transform: translateX(-800px);
  -ms-transform: translateX(-800px);
  -o-transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode .sign-up-form {
  opacity: 1;
  z-index: 6;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .log-form.container {
    min-height: 600px;
    height: 100vh;
  }
  .log-form .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .log-form .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .log-form .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .log-form .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .log-form .right-panel {
    grid-row: 3 / 4;
  }

  .log-form .left-panel {
    grid-row: 1 / 2;
  }

  .log-form .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .log-form .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .log-form .panel h3 {
    font-size: 1.2rem;
  }

  .log-form .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .log-form .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .log-form.container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .log-form .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .log-form form {
    padding: 0 1.5rem;
  }

  .log-form .panel .content {
    padding: 0.5rem 1rem;
  }
  .log-form.container {
    padding: 1.5rem;
  }

  .log-form.container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

.scroll-up-btn {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background-size: 200% 100%;
  background-image: linear-gradient(135deg, #947d80, #ca0a14, #530101, #f24645);
  box-shadow: 0 4px 10px 0 #85797a;
  position: fixed;
  bottom: 3%;
  right: 3%;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  animation: vibration 0.4s infinite linear alternate;
  -webkit-animation: vibration 0.4s infinite linear alternate;
}

@keyframes vibration {
  0% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}

.scroll-up-btn a {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.scroll-up-btn:hover {
  background-position: 70% 20%;
  animation-play-state: paused;
}
